RewriteEngine On
RewriteCond %{HTTP_HOST} ^www.benzersanatci.guvensahin.com [NC]
RewriteRule ^(.*)$ http://benzersanatci.guvensahin.com/$1 [R=301]
RewriteRule ^index\.php/?$ http://benzersanatci.guvensahin.com [NC,L,R]
